/* Laptops y escritorios */
@media only screen and (min-width: 1025px) {
  /* Estilos CSS proporcionados */
  body {
    font-family: Arial, sans-serif;
    background-image: url('img/1184118.jpg');
  }

  .container {
    margin: 0 auto;
    padding: 20px;
  }

  h1 {
    text-align: center;
    color: #5ACAB4;
  }

  #historial {
    justify-content: left;
  }

  .textarea-container {
    display: flex;
  }

  #input-text {
    color: #fff;
    flex: 1;
    height: 300px;
    padding: 10px;
    resize: none;
    background-color: transparent;
    border-color: #5ACAB4;
  }

  #output-text {
    flex: .25;
    height: 700px;
    margin-left: 20px;
    padding: 10px;
    resize: none;
    background-color: transparent;
    border-color: #43987B;
  }

  #advertencia {
    color: #B25898;
  }

  .buttons-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  #encrypt-btn {
    margin-right: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
  }

  #decrypt-btn {
    margin-right: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
  }

  #copy-btn {
    margin-right: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
  }

  #encrypt-btn:hover,
  #decrypt-btn:hover,
  #copy-btn:hover {
    background-color: #0056b3;
  }
}

/* Tablets */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
 /* Estilos CSS proporcionados */
 body {
  font-family: Arial, sans-serif;
  background-color: black;
  /* background-image: url('img/1184118.jpg'); */
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
  color: #5ACAB4;
}

.textarea-container {
  display: flex;
}

#input-text {
  position: absolute;
  flex: 1;
  width: 60vh;
  height: 30vh;
  padding: 1.25%;
  resize: none;
  background-color: transparent;
}

#output-text {
  position: absolute;
  flex: 1;
  top: 60vh;
  width: 60vh;
  height: 30vh;
  padding: 1.25%;
  resize: none;
  background-color: transparent;
}

#advertencia {
  position: absolute;
  top: 48vh;
  color: #B25898;
}

.buttons-container {
  position: absolute;
  top: 49vh;
  justify-content: center;
  margin-top: 20px;
}

#encrypt-btn {
  margin-right: 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

#decrypt-btn {
  margin-right: 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

#copy-btn {
  margin-right: 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

#encrypt-btn:hover,
#decrypt-btn:hover,
#copy-btn:hover {
  background-color: #0056b3;
}
}

/* Dispositivos móviles con pantalla mediana */
@media only screen and (min-width: 481px) and (max-width: 767px) {
  /* Estilos CSS proporcionados */
  body {
    font-family: Arial, sans-serif;
    background-color: black;
    /* background-image: url('img/1184118.jpg'); */
  }

  .container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
  }

  h1 {
    text-align: center;
    color: #5ACAB4;
  }

  .textarea-container {
    display: flex;
  }

  #input-text {
    position: absolute;
    flex: 1;
    width: 60vh;
    height: 30vh;
    padding: 1.25%;
    resize: none;
    background-color: transparent;
  }

  #output-text {
    position: absolute;
    flex: 1;
    top: 60vh;
    width: 60vh;
    height: 30vh;
    padding: 1.25%;
    resize: none;
    background-color: transparent;
  }

  #advertencia {
    position: absolute;
    top: 48vh;
    color: #B25898;
  }

  .buttons-container {
    position: absolute;
    top: 49vh;
    justify-content: center;
    margin-top: 20px;
  }

  #encrypt-btn {
    margin-right: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
  }

  #decrypt-btn {
    margin-right: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
  }

  #copy-btn {
    margin-right: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
  }

  #encrypt-btn:hover,
  #decrypt-btn:hover,
  #copy-btn:hover {
    background-color: #0056b3;
  }
}

/* Dispositivos móviles con pantalla pequeña */
@media only screen and (max-width: 480px) {
  /* Estilos CSS proporcionados */
  body {
    font-family: Arial, sans-serif;
    background-color: white;
    /* background-image: url('img/1184118.jpg'); */
  }

  .container {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
  }

  h1 {
    font-size:larger;
    text-align: center;
    color: #5ACAB4;
  }

  .textarea-container {
    display: flex;
  }

  #input-text {
    position: absolute;
    flex: 1;
    width: 35vh;
    height: 30vh;
    padding: 1.25%;
    resize: none;
    background-color: transparent;
  }

  #output-text {
    position: absolute;
    flex: 1;
    top: 60vh;
    width: 35vh;
    height: 30vh;
    padding: 1.25%;
    resize: none;
    background-color: transparent;
  }

  #advertencia {
    position: absolute;
    top: 50vh;
    color: #B25898;
    font-size: small;
  }

  .buttons-container {
    position: absolute;
    top: 50vh;
    justify-content: center;
    margin-top: 20px;
  }

  #encrypt-btn {
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
  }

  #decrypt-btn {
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
  }

  #copy-btn {
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
  }

  #encrypt-btn:hover,
  #decrypt-btn:hover,
  #copy-btn:hover {
    background-color: #0056b3;
  }
}