/* Responsive Escritorio */
@media screen and (min-width: 1024px) {

  /* Estilos CSS proporcionados */
  body {
    font-family: Arial, sans-serif;
    background-image: url('img/1184118.jpg');
  }

  .container {
    margin: 0 auto;
    padding: 20px;
  }

  h1 {
    text-align: center;
    color: #5ACAB4;
  }

  #historial {
    justify-content: left;
  }

  .textarea-container {
    display: flex;
  }

  #input-text {
    color: #fff;
    flex: 1;
    height: 300px;
    padding: 10px;
    resize: none;
    background-color: transparent;
    border-color: #5ACAB4;
  }

  #output-text {
    flex: .25;
    height: 700px;
    margin-left: 20px;
    padding: 10px;
    resize: none;
    background-color: transparent;
    border-color: #43987B;
  }

  #advertencia {
    color: #B25898;
  }

  .buttons-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  #encrypt-btn {
    margin-right: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
  }

  #decrypt-btn {
    margin-right: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
  }

  #copy-btn {
    margin-right: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
  }

  #encrypt-btn:hover,
  #decrypt-btn:hover,
  #copy-btn:hover {
    background-color: #0056b3;
  }

}

/* Estilos para laptops y tablets*/
@media (min-width: 768px) and (max-width: 1000px) {

  /* Estilos CSS proporcionados */
  body {
    font-family: Arial, sans-serif;
    background-color: black;
    /* background-image: url('img/1184118.jpg'); */
  }

  .container {
    margin: 0 auto;
    padding: 20px;
  }

  h1 {
    text-align: center;
    color: #5ACAB4;
  }

  .textarea-container {
    display: flex;
  }

  #input-text {
    position: absolute;
    top: 150px;
		left: 150px;
    width: 600px;
    height: 100px;
    padding: 10px;
    resize: none;
    background-color: transparent;
  }

  #output-text {
    position: absolute;
    top: 100px;
			left: 100px;
			width: 200px;
			height: 100px;
    padding: 10px;
    resize: none;
    background-color: transparent;
  }

  #advertencia {
    color: #B25898;
  }

  .buttons-container {
    display: flex;
    justify-content: left;
    margin-top: 20px;
  }

  #encrypt-btn {
    margin-right: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
  }

  #decrypt-btn {
    margin-right: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
  }

  #copy-btn {
    margin-right: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
  }

  #encrypt-btn:hover,
  #decrypt-btn:hover,
  #copy-btn:hover {
    background-color: #0056b3;
  }
}